.boneco1, .boneco2, .boneco3 {
    width: 200px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    margin-left: 100px;
    padding: 50px;
  }
  
  .boneco1 {
    background-image: url('imagens/Jovem\ casal\ em\ pose\ divertida.png');

  }
  .boneco2 {
    background-image: url('imagens/ChatGPT\ Image\ 7\ de\ mai.\ de\ 2025\,\ 20_55_33.png');
  }
  .boneco3 {
    background-image: url('imagens/salsicha.png');
  }
  
  #mensagem {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #153041;
  }
  h1{
    color: #FEFEFE;
    text-align: center;
  }